.demo-card-square.mdl-card {
  width: 275px;
  height: 275px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #4942B7;
}

#main{
	max-width: 95%;
	margin: 0px auto;
}

#githubform {
	padding-top: 6em;
	padding-bottom: 6em;
}
#trivia{
	padding-bottom: 20em;
}

#tools{
	list-style-type: none;
}
#ron{
	height: 280px;
	width: auto;
}
.space{
	margin-top: 4em;
	margin-bottom: 4em
}